/*Imagen de Rombos*/
.rombos-imagen {
    width: 200px;
    height: 200px;
    clip-path: polygon(
        50% 75%,
        100% 25%,
        75% 0%,
        50% 25%,
        100% 75%,
        75% 100%,
        0% 25%,
        25% 0%,
        50% 25%,
        0% 75%,
        25% 100%,
        50% 75%
    );
}
/*Imagen de Rayo*/
.rayo {
    width: 180px;
    height: 240px;
    clip-path: polygon(
        29% 0%,
        80% 0%,
        45% 35%,
        69% 35%,
        19% 100%,
        29% 54%,
        4% 54%
    );
}
