.marco {
    position: relative;
}

/*Marco con degrades*/
.marco::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.123),
        rgb(230, 230, 230)
    );
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.marco-de-luz {
    clip-path: polygon(
        0% 0%,
        0% 100%,
        0.5% 98%,
        0.5% 2%,
        99.2% 2%,
        99.2% 98%,
        1% 98%,
        0 100%,
        100% 100%,
        100% 0%
    );
}
