@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-violeta-oscuro-style: #180026;
    --color-violeta-style: #7400B8;
    --color-verde-style: #80FFDB;
    --color-azul-style: #5E60CE;
    --font-archivo: 'Archivo', 'sans-serif';
}

/*Fonts*/
@font-face {
    font-family: 'CD-Light';
    src: url('/fonts/ClashDisplay-Light.woff2') format('woff2'),
        url('/fonts/ClashDisplay-Light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'CD-Regular';
    src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2'),
        url('/fonts/ClashDisplay-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'CD-Medium';
    src: url('/fonts/ClashDisplay-Medium.woff2') format('woff2'),
        url('/fonts/ClashDisplay-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'CD-Semibold';
    src: url('/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
        url('/fonts/ClashDisplay-Semibold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'CD-Bold';
    src: url('/fonts/ClashDisplay-Bold.woff2') format('woff2'),
        url('/fonts/ClashDisplay-Bold.woff') format('woff');
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'CD-Variable';
    src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2'),
        url('/fonts/ClashDisplay-Variable.woff') format('woff');
    font-style: normal;
    font-display: swap;
}